$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.content {
    padding: 10px 10px 10px 10px;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: block;
}

.content p {
    margin-left: 15px;
    padding-top: 10px
}

.name {
    font-weight: bold;
    float: left;
}

.post-time {
    float: right;
}

.details {
    margin-left: 70px;
    height: 50px;
    padding-top: 5px;
}

.userimage {
    float: left;
}

.username {
    float: left;
    margin-top: 22px;
    margin-left: -74px;
}

.text-center {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 183px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px 10px 0;
    float: left;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        margin: 0px 0px 0px 0px;
        width: 1920px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
