$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.content img {
    box-shadow: 0px 10px 30px #5E5B5B;
    border: 5px solid #000000
}

p {
    margin: 0px 0px 0px 0px;
}

.below{
    float: right;
}

.ng-enter, 
.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.ng-leave.ng-leave-active,
.ng-enter {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        
 
.ng-enter.ng-enter-active,
.ng-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}

.panel {
    border: none;
    box-shadow: 0px 10px 30px #5E5B5B;
    border-radius: 10px;
    border-bottom: 1px solid #949494;
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
}

.gradient {
    background-color: transparent;
    background-image: linear-gradient(#ffffff, #CACACA);
}

.panel-heading-twitter {
    background-color: #00aced;
    color: #ffffff;
}

.panel-heading {
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #949494;
}

.panel-twitter {
    background-color: #ebebeb;
}

.panel-maps {
    background-color: #ebebeb;
}

.panel-heading-instagram {
    background-color: #517fa4;
    color: #ffffff;
}

.panel-instagram {
    background-color: #ebebeb;
}

.content {
    padding: 10px 10px 10px 10px;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.content p {
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name {
    font-weight: bold;
}

.post-time {
    float: right;
    padding-top: 3px;
}

.details {
    margin-left: 15px;
    height: 50px;
    padding-top: 5px;
    float: left;
}

.userimage {
    float: left;
    border-radius: 50%;
}

.username {
}

.text-center {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px 10px 0;
    float: left;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        margin: 0px 0px 0px 0px;
        width: 100%;
    }
}
