$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.map-heading {
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.gradient-bg {
    background-image: linear-gradient(#f8f8f8, rgba(248, 248, 248, 0.75), rgba(248, 248, 248, 0));
    background-color: transparent;
    border-bottom: none;
    }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topbar {
    height: 75px;
}


.shadow {
    box-shadow: 0px 10px 30px #8B8282;
}

.content img {
    border: 5px solid #000000
}

p {
    margin: 0px 0px 0px 0px;
}

.below{
    float: right;
}

.ng-enter, 
.ng-leave { 
    -webkit-transition: 500ms cubic-bezier(0.45, 0.02, 0.51, 0.98) all;
    -moz-transition: 500ms cubic-bezier(0.45, 0.02, 0.51, 0.98) all;
    -ms-transition: 500ms cubic-bezier(0.45, 0.02, 0.51, 0.98) all;
    -o-transition: 500ms cubic-bezier(0.45, 0.02, 0.51, 0.98) all;
    transition: 500ms cubic-bezier(0.45, 0.02, 0.51, 0.98) all;
    position: relative;
    display: block;
} 
 

.ng-leave.ng-leave-active,
.ng-enter {
    -webkit-transform: rotateX(90deg) rotateY(75deg);
    -moz-transform: rotateX(90deg) rotateY(75deg);
    -ms-transform: rotateX(90deg) rotateY(75deg);
    -o-transform: rotateX(90deg) rotateY(75deg);
    transform: rotateX(90deg) rotateY(75deg);
    opacity: 0;
    height: 0;
}        

.ng-enter.ng-enter-active,
.ng-leave {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    opacity: 1;
    height: 100%;

}

.panel {
    border: none;
    border-radius: 10px;
}

.gradient {
    background-color: transparent;
    background-image: linear-gradient(#ffffff, #CACACA);
}

.panel-heading-twitter {
    background-color: #00aced;
    color: #ffffff;
}

.panel-heading {
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #B4B4B4;
}

.panel-twitter {
    background-color: #ebebeb;
}

.panel-maps {
    background-color: #ebebeb;
}

.panel-heading-instagram {
    background-color: #517fa4;
    color: #ffffff;
}

.panel-instagram {
    background-color: #ebebeb;
}

.content {
    padding: 10px 10px 10px 10px;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.content p {
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.name {
    font-weight: bold;
}

.post-time {
    float: right;
    padding-top: 3px;
}

.details {
    margin-left: 15px;
    height: 50px;
    padding-top: 5px;
    float: left;
}

.userimage {
    float: left;
    border-radius: 50%;
}

.username {
}

.text-center {
    text-align: center;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    vertical-align: middle;
    position: absolute;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        margin: 0px 0px 0px 0px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .fa {
        font-size: 2em;
    }
}
