<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <h2>#AngelHack</h2>
      <img class="logo" src="http://placehold.it/300x50">
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-md-4">
    <h4 class="text-center">Twitter</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <img class="userimage" src="http://placehold.it/50x50">
        <div class="details">
          <p class="name">Name</p>
          <p class="username">@username</p>
          <p class="post-time">5 min ago</p>
        </div>
      </div>
      <div class="content">
        <p>TWEET CONTENT GOES HERE</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Instagram</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <img class="userimage" src="http://placehold.it/50x50">
        <div class="details">
          <p class="name">Name</p>
          <p class="username">@username</p>
          <p class="post-time">5 min ago</p>
        </div>
      </div>
      <div class="content">
        <img class="text-center" height="300" width="300" src="http://placehold.it/300x300">
        <p>INSTAGRAM IMAGE TEXT GOES HEREINSTAGRAM IMAGE TEXT GOES HEREINSTAGRAM IMAGE TEXT GOES HEREINSTAGRAM IMAGE TEXT GOES HEREINSTAGRAM IMAGE TEXT GOES HERE</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Vine</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <img class="userimage" src="http://placehold.it/50x50">
        <div class="details">
          <p class="name">Name</p>
          <p class="username">@username</p>
          <p class="post-time">5 min ago</p>
        </div>
      </div>
      <div class="content">
        <p>VINE VIDEO TEXT GOES HERE</p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <p class="text-center">Made with ♥ at AngelHack Seattle</p>
</div>
