<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <h2>#AngelHackSEA</h2>
      <img class="logo" src="http://placehold.it/300x50">
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-md-4">
    <h4 class="text-center">Twitter</h4>
    <div class="panel panel-default" ng-repeat="tweet in tweets">
      <div class="panel-heading">
        <img class="userimage" ng-src="{{tweet.userimageUrl}}">
        <div class="details">
          <p class="name">{{tweet.name}}</p>
          <p class="username">@{{tweet.username}}</p>
          <p class="post-time">5 min ago</p>
        </div>
      </div>
      <div class="content">
        <p>{{tweet.content}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Instagram</h4>
    <div class="panel panel-default" ng-repeat="photo in photos">
      <div class="panel-heading">
        <img class="userimage" height="50" width="50" ng-src="{{photo.user.profile_picture}}">
        <div class="details">
          <p class="name">{{photo.user.full_name}}</p>
          <p class="username">@{{photo.user.username}}</p>
          <p class="post-time">{{photo.caption.friendly_time}}</p>
        </div>
      </div>
      <div class="content">
        <img class="text-center" height="300" width="300" ng-src="{{photo.images.standard_resolution.url}}">
        <p>{{photo.caption.text}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Vine</h4>
    <div class="panel panel-default" ng-repeat="vine in vines">
      <div class="panel-heading">
        <img class="userimage" ng-src="{{vine.userimageUrl}}">
        <div class="details">
          <p class="name">{{vine.name}}</p>
          <p class="username">@{{vine.username}}</p>
          <p class="post-time">5 min ago</p>
        </div>
      </div>
      <div class="content">
        <p>{{vine.content}}</p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <p class="text-center">Made with ♥ at AngelHack Seattle</p>
</div>
